html {
  box-sizing: content-box;
}

.logo {
  width: 25px;
  margin-right: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-item {
  padding: 0px 10px;
  display: inline-block;
  white-space: nowrap;
}

#search-results-title {
  font-size: x-large;
  font-weight: bold;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

#country-page-flag-image {
  width: 100%;
  border: 1px solid black;
}

.home-country-card {
  width: 100%;
  color: black;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float: left;
}

.home-column {
  float: left;
  padding: 10px;
  margin: 0px;
}

.home-card-content {
  margin: 0px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-country-card:hover {
  background-color: lightyellow;
}

.home-country-card a {
  color: black;
}


.home-country-card-flag {
  width: 80%;
  border: 1px solid black;
}

.country-card {
  color: black;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
  margin: 10px 0px;
}

.country-card:hover {
  background-color: lightyellow;
}

.home-country-card-item {
  float: left;
  margin: 0px;
  margin: 0;
}

.country-card-item {
  float: left;
  margin: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.country-card-title {
  font-size: x-large;
  font-weight: bold;
}

.country-card-subtitle {
  font-size: large;
  color: gray;
}

.country-card-description {
  overflow: hidden;
  height: 75%;
}

.list-view-flag-image {
  width: 100px;
  border: 1px solid black;
}

.country-page-left-side, .country-page-right-side {
  float: left;
  overflow: auto;
}

#country-page-title {
  font-size: xx-large;
  font-weight: bold;
}

#country-description {
  white-space: pre-line;
  width: 100%;
  height: auto;
}

.cities-list-col {
  float: left;
}

.general-info {
  margin-bottom: 60px;
}

.general-info-row {
  height: auto;
}

.general-info-row-label {
  height: auto;
  float: left;
  font-weight: bold;
}

.general-info-row-value {
  height: auto;
  float: left;
}

.country-page-content {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

#edit-button, #save-button {
  margin-bottom: 10px;
  display: flex;
  margin-left: auto;
}

.general-info-input {
  margin: 5px;
  width: 70%;
}

.city-input {
  margin: 5px;
  width: 70%;
}

.image-upload-container{
  width: 400px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#display-image{
  width: 300px;
  height: 169px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.input-error {
  font-size: x-small;
  color: red;
}