:root {
  --navbar-color: white;
  --navbar-bg-color: #4464AD;
  --accent-color: #F5A65B;
  --main-bg-color: white;
  --card-color: rgba(255, 255, 255, 0.865);
  --card-highlight-color: #F5A65B;
  --section-padding: 20px;
  --section-border-radius: 10px;
}

.info-container {
  background-color: var(--main-bg-color);
  border-radius: var(--section-border-radius);
}

.navbar {
  color: var(--navbar-color);
  background-color: var(--navbar-bg-color);
}

.search-button {
  color: white;
  background-color: var(--accent-color);
}

.navbar a {
  color: var(--navbar-color);
}

html {
  box-sizing: content-box;
}

body {
  background-color: var(--main-bg-color);
  background-image: url(/static/images/world.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  width: 25px;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
  float: left;
  transition: 0.3s;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 30px;
}

.navbar-item {
  padding: 0px 10px;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-item:hover {
  color: var(--accent-color)
}

#search-results-title {
  font-size: xx-large;
  font-weight: bold;
  background-color: var(--card-color);
  border-radius: var(--section-border-radius);
  margin-top: 20px;
  padding: var(--section-padding);
}

.title {
  font-size: x-large;
  font-weight: bold;
}

#country-page-flag-image {
  width: 100%;
  border: 1px solid black;
  z-index: -1;
}

.home-country-card {
  transition: 0.3s;
  background-color: var(--card-color);
  width: 100%;
  color: black;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  float: left;
}

.home-column {
  float: left;
  padding: 10px;
  margin: 0px;
}

.home-card-content {
  margin: 0px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-country-card:hover {
  background-color: var(--card-highlight-color);
}

.home-country-card a {
  color: black;
}


.home-country-card-flag {
  width: 80%;
  border: 1px solid black;
}

.country-card {
  transition: 0.3s;
  background-color: var(--card-color);
  color: black;
  width: 100%;
  height: 120px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

.country-card:hover {
  background-color: var(--card-highlight-color);
}

.home-country-card-item {
  float: left;
  margin: 0px;
  margin: 0;
}

.country-card-item {
  float: left;
  margin: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.country-card-title {
  font-size: x-large;
  font-weight: bold;
}

.country-card-subtitle {
  font-size: large;
  color: gray;
}

.country-card-description {
  overflow: hidden;
  height: 100%;
}

.list-view-flag-image {
  width: 100px;
  border: 1px solid black;
}

.country-page-left-side, .country-page-right-side {
  float: left;
}

.country-page-left-side {
  background-color: var(--card-color);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
}

#country-page-title {
  font-size: xx-large;
  font-weight: bold;
}

#country-description {
  white-space: pre-line;
  width: 100%;
  height: auto;
}

.cities-list-col {
  float: left;
}

.cities-list {
  overflow: auto;
  background-color: var(--card-color);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
}

.general-info {
  background-color: var(--card-color);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  margin-bottom: 60px;
}

.general-info-row {
  margin-right: 15px;
  /* overflow-y: auto;
  max-width: 100%;
  overflow-x; */
}

.general-info-row-label {
  float: left;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 0px;
}

.general-info-row-value {
  float: left;
  width: 100%;
}

.country-page-content {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

#edit-button, #save-button, #cancel-button {
  margin-bottom: 10px;
  float: right;
  margin: 5px;
}

#cancel-button {
  background-color: rgb(230, 108, 108);
  color: white;
}

#cancel-button:hover {
  background-color: rgb(196, 64, 64);
  color: white;
}

.general-info-input {
  margin: 5px;
}

.city-input {
  margin: 5px;
  width: 70%;
}

.image-upload-container{
  width: 100%;
}

#display-image{
  font-size: 0px;
  width: 100%;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-error {
  font-size: x-small;
  color: red;
}

mark {
  padding: 0px;
  background-color: yellow;
}

#image-input {
}

.image-upload-item {
  margin: 10px 0px;
}

br {
  clear: both;
}

ul {
  list-style: none;
  padding-left: 0;
}

.message_flash {
  background-color: lightgreen;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px 0px 20px;
  margin: 10px;
  border: 2px solid rgb(0, 213, 0);
}

input {
  border-radius: 5px;
}

textarea:focus, input:focus {
  outline: none !important;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.purpose-group {
  font-size: larger;
  background-color: var(--main-bg-color);
  border-radius: var(--section-border-radius);
  margin: 20px;
  padding: var(--section-padding);
}

.popular-group {
  font-size: larger;
  /* background-color: var(--main-bg-color); */
  border-radius: var(--section-border-radius);
  margin: 20px;
  padding: var(--section-padding);
  color: white;
}

#country-search-input {
  width: 500px;
}

.audio-control {
  width: 100%;
  position: relative;
  z-index: 1;
}
