{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'edit-country.js') }}"></script>

<script>
  let data = {{data|tojson}}
</script>

<div class="country-page-content info-container">
  <form enctype="multipart/form-data" id="edit-country-form" action="/countries" method="POST">
    <div class="country-page-left-side col-md-7">
      <label for="name" class="title">Name <i class="fa fa-edit"></i></label>
      <div><input class="form-text " id="country-page-title" name="name" type="text"></div>
      <div>
        <label for="description" class="title">Description <i class="fa fa-edit check"></i></label>
        <textarea name="description" id="country-description"></textarea>
      </div>
    </div>
    <div class="country-page-right-side col-md-5">
      <div>
        <input id="save-button" class="ui-button" type="button" value="Submit"></input>
        <button id="cancel-button" class="ui-button" type="button">Discard Changes</button><br>
      </div>
      <div class="general-info">
        <div class="image-upload-container">
          <div>
            <div class="col-md-6 image-upload-item"><label for="image" class="title">Flag Image <i class="fa fa-edit"></i></label></div>
            <div class="col-md-6 image-upload-item"><input type="file" id="image-input" name="image" accept="image/png, image/jpg, image/jpeg"></div>
          </div>
          <img title="uploaded flag image" alt="uploaded flag image" id="display-image">
        </div>
        <br>
        <div id="general-info-rows">
          <div class="general-info-row">
            <label for="nationalAnthem" class="general-info-row-label col-md-6">National Anthem (Link) <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="form-text general-info-input" id="national-anthem" name="nationalAnthem" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="officialName" class="general-info-row-label col-md-6">Official Name <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="form-text general-info-input" id="official-name" name="officialName" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="capital" class="general-info-row-label col-md-6">Capital <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="capital" name="capital" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="continent" class="general-info-row-label col-md-6">Continent <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="continent" name="continent" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="population" class="general-info-row-label col-md-6">Population <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="population" name="population" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="area" class="general-info-row-label col-md-6">Area (sq mi) <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="area" name="area" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="gdp" class="general-info-row-label col-md-6">GDP ($)<i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="gdp" name="gdp" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="currency" class="general-info-row-label col-md-6">Currency <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="currency" name="currency" type="text"></div><br>
          </div>
          <div class="general-info-row">
            <label for="link" class="general-info-row-label col-md-6">More Info (Link) <i class="fa fa-edit"></i></label>
            <div class="general-info-row-value col-md-6"><input class="general-info-input" id="link" name="link" type="text"></div><br>
          </div>
        </div>
      </div>
      <div class="cities-list">
        <label for="cities" class="title">Most Populous Cities <i class="fa fa-edit"></i></label>
        <div id="cities-list-left" class="cities-list-col col-md-6">
        </div>
        <div id="cities-list-right" class="cities-list-col col-md-6">
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}