{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<script>
  let data = {{data|tojson}}
</script>

<div>
  <div class="purpose-group">
    <div class="title">
      Welcome to World Trivia!
    </div>
    <div>
      Tired of coming in last place at trivia night at your local bar? Well, you've come to the right place. Study up here and put the competition to shame!
    </div>
  </div>
  <div class="popular-group">
    <div class="title">
      Most popular countries to look up this week:
    </div>
    <div id="countries-list">
      <div class="home-country-card col-md-4">
        <a href="/countries/1">
          <div class="col-md-12 home-country-card-item">
            <img class="home-country-card-flag" src="/static/images/france-flag.png">
          </div>
          <div class="col-md-12 home-country-card-item">
            <div class="country-card-title">France</div>
            <div class="country-card-subtitle">☆ Paris</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}