{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<script>
  let data = {{data|tojson}}
</script>

<div>
  <div class="purpose-group">
    <div class="title">
      Welcome to World Trivia!
    </div>
    <p>
      Tired of coming in last place at trivia night at your local bar? Well, you've come to the right place! Study up here and put the competition to shame!
    </p>
    <p>
      Start by exploring the three most popular countries of the week displayed below!
    </p>
  </div>
  <div class="popular-group">
    <div id="countries-list">
    </div>
  </div>
</div>
{% endblock %}